doctype html
html
  head
    title Lỗi Không Tìm Thấy Trang Phù Hợp
    // for-mobile-apps
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='keywords', content='404 Error Widget Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, \
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design')
    script(type='application/x-javascript').
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
      function hideURLbar(){ window.scrollTo(0,1); }
    // //for-mobile-apps
    link(href='/css/404.css', rel='stylesheet', type='text/css', media='all')
    link(href='//fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900italic,900', rel='stylesheet', type='text/css')
  body
    .main
      .agileits_main_grid
        .agileits_main_grid_left
          h1 404 Lỗi
        .agileits_main_grid_right
          a(href='/') Trở Lại
        .clear
      .w3l_main_grid
        img.img-responsive(src='/images/1.png', alt=' ')
      .w3ls_main_grid_bottom
        .w3ls_main_grid_bottom_left
          .wthree_social_buttons
            a.wthree_social_button.facebook(href='#')
              i.fa.fa-facebook
            a.wthree_social_button.twitter(href='#')
              i.fa.fa-twitter
            a.wthree_social_button.google(href='#')
              i.fa.fa-google
            a.wthree_social_button.pinterest(href='#')
              i.fa.fa-pinterest
        .w3ls_main_grid_bottom_right
          ul
            li A
            li B
          ul
            li C
            li D
          ul
            li E
            li F
        .clear
      .agile_copy_right
        p
          | © 2016 404 Error Widget. All rights reserved | Design by
          a(href='http://w3layouts.com/') W3layouts
