doctype html
html
    head
        title Photo Magic | Trang Chủ
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        // Import Google Icon Font
        link(rel='stylesheet', href='http://fonts.googleapis.com/icon?family=Material+Icons')
        // Import Materialize.css
        link(rel='stylesheet', href='./css/materialize/materialize.css')
        // Import Photo Swipe
        link(rel='stylesheet', href='./css/photoswipe/photoswipe.css')
        link(rel='stylesheet', href='./css/photoswipe/default-skin.css')
        // Import UI
        link(rel='stylesheet', href='./css/ui.css')
    body
        // Wrapper
        #wrapper
            .navbar-fixed
                nav
                    .nav-wrapper
                        a.brand-logo(href='#!') PTMagic
                        a.button-collapse(href='#', data-activates='mobile-demo')
                            i.material-icons menu
                        ul.right.hide-on-med-and-down
                            li
                                a(href='/') Trang Chủ
                            li
                                a(href='#') Thông Tin
                        ul#mobile-demo.side-nav
                            li
                                a(href='/') Trang Chủ
                            li
                                a(href='#') Thông Tin
                    //Progress Bar
                    .progress
                        .indeterminate

            // Main
            .container
                h2 Upload
                form(action='#')
                    .file-field.input-field
                        .btn
                            span Chọn Ảnh
                            input(type="file" accept='image/*' id="image-browser" onchange="previewFiles()")
                        .file-path-wrapper
                            input.file-path.validate(type="text")
                button.btn.waves-effect.waves-light(onclick='_doPostBack()') Upload
                    i.material-icons.left backup
                #preview(style="margin: 16px;")
                // Filters Preview
                #filter-previews-container
                    #filter-previews-container-inner
                        .highlight-container.ng-scope
                            img(src='./images/filters/a26f948f-ce83-4445-a93e-659dc2fc5dd0.jpeg', alt='')
                            .filter-name-container
                                span Black Flower
                        .highlight-container.highlighted
                            img(src='./images/filters/60209488-fb3b-42e7-a999-926b95818c6c.jpeg', alt='')
                            .filter-name-container
                                span Starburst
                        .highlight-container.ng-scope
                            img(src='./images/filters/0e0dcd33-2b19-4eff-ad8c-3fa66871fad5.jpeg', alt='')
                            .filter-name-container
                                span Blue Anime
                        .highlight-container.ng-scope
                            img(src='./images/filters/f97d3184-bcaa-48dc-8bad-3914f8e872cf.jpeg', alt='')
                            .filter-name-container
                                span Cherry Blossom
                        .highlight-container.ng-scope
                            img(src='./images/filters/fc25bc4f-6fe2-4f1f-b95c-f0c5a3d5f882.jpeg', alt='')
                            .filter-name-container
                                span Supernatural
                        .highlight-container.ng-scope
                            img(src='./images/filters/c7120db7-f8e9-4895-93b0-491670b73d01.jpeg', alt='')
                            .filter-name-container
                                span Neon Wicker
                        .highlight-container.ng-scope
                            img(src='./images/filters/91016286-4454-48ef-be4e-dad3ffb78251.jpeg', alt='')
                            .filter-name-container
                                span The Wave
                        .highlight-container.ng-scope
                            img(src='./images/filters/9d09189e-5056-4e18-95e9-b9f44c064965.jpeg', alt='')
                            .filter-name-container
                                span Kandinsky
                        .highlight-container.ng-scope
                            img(src='./images/filters/d8cb470d-bf2b-45c0-9f44-11eac9da6c93.jpeg', alt='')
                            .filter-name-container
                                span Clashing
                        .highlight-container.ng-scope
                            img(src='./images/filters/7dd58c92-39b4-40ca-8c65-240d1a1b239a.jpeg', alt='')
                            .filter-name-container
                                span Red, White, and Blue
                        .highlight-container.ng-scope
                            img(src='./images/filters/97f7c30d-35c6-45d2-9144-df9644fcea3a.jpeg', alt='')
                            .filter-name-container
                                span Orange Glass
                        .highlight-container.ng-scope
                            img(src='./images/filters/3d8c2618-bbea-448d-a787-f7c37f06da3b.jpeg', alt='')
                            .filter-name-container
                                span Artifact
                        .highlight-container.ng-scope
                            img(src='./images/filters/10b92e69-0350-47f5-9fef-d3828384ee77.jpeg', alt='')
                            .filter-name-container
                                span Sunset
                        .highlight-container.ng-scope
                            img(src='./images/filters/527ff2f9-3ffd-4dcb-9faf-dcd4705ebf75.jpeg', alt='')
                            .filter-name-container
                                span Sunflower
                        .highlight-container.ng-scope
                            img(src='./images/filters/12dce15f-a2de-486a-b122-aaccd483263e.jpeg', alt='')
                            .filter-name-container
                                span The Blues
                        .highlight-container.ng-scope
                            img(src='./images/filters/a7e4bf18-4e22-4a99-80e1-310972befa5d.jpeg', alt='')
                            .filter-name-container
                                span Parchment
                        .highlight-container.ng-scope
                            img(src='./images/filters/80ab538a-67f8-43ac-a153-899ce131736b.jpeg', alt='')
                            .filter-name-container
                                span Aqua Cubism
                        .highlight-container.ng-scope
                            img(src='./images/filters/150cc335-43c6-444c-ba7c-427d0def0722.jpeg', alt='')
                            .filter-name-container
                                span Oldschool Cartoon
                        .highlight-container.ng-scope
                            img(src='./images/filters/649231ee-dcc5-476a-bbec-790b5c02dc80.jpeg', alt='')
                            .filter-name-container
                                span Petals
                        .highlight-container.ng-scope
                            img(src='./images/filters/e2456f46-6dd4-46eb-aa03-2e01a1ec450b.jpeg', alt='')
                            .filter-name-container
                                span Regal
                        .highlight-container.ng-scope
                            img(src='./images/filters/56d32805-0479-4d76-831d-4a3600a3a689.jpeg', alt='')
                            .filter-name-container
                                span Winter Solstice
                        .highlight-container.ng-scope
                            img(src='./images/filters/8052fb9e-9796-4b13-b001-89da791cf59d.jpeg', alt='')
                            .filter-name-container
                                span Golden Locks
                        .highlight-container.ng-scope
                            img(src='./images/filters/d250b03a-e5fa-4673-a6c2-b3448f4aed18.jpeg', alt='')
                            .filter-name-container
                                span Green Swirl
                        .highlight-container.ng-scope
                            img(src='./images/filters/8c5a4704-6a07-42b8-b536-8060f856caae.jpeg', alt='')
                            .filter-name-container
                                span Teal Curls
                        .highlight-container.ng-scope
                            img(src='./images/filters/a5dc77cd-79d0-4e43-8851-4defd3eb764e.jpeg', alt='')
                            .filter-name-container
                                span Ocean Swirl
                        .highlight-container.ng-scope
                            img(src='./images/filters/2f39345d-8a19-444d-99fc-e1b7614a97f9.jpeg', alt='')
                            .filter-name-container
                                span Neon Fur
                        .highlight-container.ng-scope
                            img(src='./images/filters/c63836e4-09d5-4bb8-9d7c-bac45239e876.jpeg', alt='')
                            .filter-name-container
                                span Peanutes
                        .highlight-container.ng-scope
                            img(src='./images/filters/5aadb54d-3a6b-4798-baac-3a6ed73c00a8.jpeg', alt='')
                            .filter-name-container
                                span Graffiti on Brick
                        .highlight-container.ng-scope
                            img(src='./images/filters/a74e882f-bc1e-4eab-b9fd-acc694a60b3d.jpeg', alt='')
                            .filter-name-container
                                span Hi-lite
                        .highlight-container.ng-scope
                            img(src='./images/filters/3c4aaea6-c032-44bb-93c2-a88d59c7cd40.jpeg', alt='')
                            .filter-name-container
                                span Jewel
                        .highlight-container.ng-scope
                            img(src='./images/filters/06a675b6-f741-479a-abbd-b9b9ca01e212.jpeg', alt='')
                            .filter-name-container
                                span Secret Garden
                        .highlight-container.ng-scope
                            img(src='./images/filters/217395d6-821f-4100-bcf1-3e3e37d11b35.jpeg', alt='')
                            .filter-name-container
                                span Ink on Parchment
                        .highlight-container.ng-scope
                            img(src='./images/filters/d67492b4-0fb7-4d91-8a82-b2461a9c7c0c.jpeg', alt='')
                            .filter-name-container
                                span Clockwork II
                        .highlight-container.ng-scope
                            img(src='./images/filters/47ddf788-cb6f-4d2f-990d-fd0c03134164.jpeg', alt='')
                            .filter-name-container
                                span Mosaic
                        .highlight-container.ng-scope
                            img(src='./images/filters/2546667c-2d95-4240-9037-40da71c13450.jpeg', alt='')
                            .filter-name-container
                                span Tangerine Seascape
                        .highlight-container.ng-scope
                            img(src='./images/filters/acb56d54-f188-46bb-9571-b3017c581fec.jpeg', alt='')
                            .filter-name-container
                                span La Danse
                        .highlight-container.ng-scope
                            img(src='./images/filters/f560500a-34c8-449b-9d38-0025af0d050a.jpeg', alt='')
                            .filter-name-container
                                span Brick
                        .highlight-container.ng-scope
                            img(src='./images/filters/851f4b7e-f395-4adb-942a-24e5789d47c3.jpeg', alt='')
                            .filter-name-container
                                span Pebble Beach
                        .highlight-container.ng-scope
                            img(src='./images/filters/aeaba8f3-4925-406e-ba4e-0fd13d5d1f8b.jpeg', alt='')
                            .filter-name-container
                                span Smoke
                        .highlight-container.ng-scope
                            img(src='./images/filters/e91fe6f9-9ce2-4196-b46b-f76864914d9c.jpeg', alt='')
                            .filter-name-container
                                span Girl with the Mandolin
                        .highlight-container.ng-scope
                            img(src='./images/filters/e22ef923-110d-4990-8f84-bbb3faffccee.jpeg', alt='')
                            .filter-name-container
                                span Graffiti II
                        .highlight-container.ng-scope
                            img(src='./images/filters/9cd70787-05d7-4126-b179-a6070960146e.jpeg', alt='')
                            .filter-name-container
                                span Lockpick
                        .highlight-container.ng-scope
                            img(src='./images/filters/47deb241-9aaa-4ad9-b402-efc4e04d5e0d.jpeg', alt='')
                            .filter-name-container
                                span Dip Dots
                        .highlight-container.ng-scope
                            img(src='./images/filters/41b12018-3ef8-4cb4-8066-3b44f4881cf7.jpeg', alt='')
                            .filter-name-container
                                span Lotus
                        .highlight-container.ng-scope
                            img(src='./images/filters/b8eac3a4-83a1-47af-93bd-8a9d1fb832e6.jpeg', alt='')
                            .filter-name-container
                                span Blue Bramble
                        .highlight-container.ng-scope
                            img(src='./images/filters/21d75887-59a0-4dc3-8777-a810bc519d1d.jpeg', alt='')
                            .filter-name-container
                                span Blue Cartoon
                        .highlight-container.ng-scope
                            img(src='./images/filters/22ad7aee-df79-4661-a487-e1cdc4dcd0d1.jpeg', alt='')
                            .filter-name-container
                                span Lichtenstein
                        .highlight-container.ng-scope
                            img(src='./images/filters/366f01d9-76de-4232-808b-fc5233f92b7a.jpeg', alt='')
                            .filter-name-container
                                span Blue Money
                        .highlight-container.ng-scope
                            img(src='./images/filters/2388aa67-6707-4e5c-a2eb-2886b7828d99.jpeg', alt='')
                            .filter-name-container
                                span Calculus
                        .highlight-container.ng-scope
                            img(src='./images/filters/9ee2afcd-0da9-4751-a61f-61a0ecfaa46f.jpeg', alt='')
                            .filter-name-container
                                span Heisenberg
                        .highlight-container.ng-scope
                            img(src='./images/filters/7efd5f7e-a3a6-4105-bf99-710793aa53cc.jpeg', alt='')
                            .filter-name-container
                                span Blackboard
                        .highlight-container.ng-scope
                            img(src='./images/filters/265c6237-1945-48d7-a210-92e198a9d5fd.jpeg', alt='')
                            .filter-name-container
                                span Stone Mosaic
                        .highlight-container.ng-scope
                            img(src='./images/filters/35f040f9-3aba-4394-8978-34e0d77848a8.jpeg', alt='')
                            .filter-name-container
                                span Straw
                        .highlight-container.ng-scope
                            img(src='./images/filters/a29c43c1-ce6a-47aa-b2e6-084646366b60.jpeg', alt='')
                            .filter-name-container
                                span Constitutionalist
                        .highlight-container.ng-scope
                            img(src='./images/filters/c70dbd8e-0dc5-4c6c-80b4-e833d005c775.jpeg', alt='')
                            .filter-name-container
                                span Glocks
                        .highlight-container.ng-scope
                            img(src='./images/filters/0b3af2a0-65fb-478d-9d2e-449778a69ffa.jpeg', alt='')
                            .filter-name-container
                                span Bullet
                        .highlight-container.ng-scope
                            img(src='./images/filters/b2f0ec84-e82c-42e8-9204-65d1a165e513.jpeg', alt='')
                            .filter-name-container
                                span Spring
                        .highlight-container.ng-scope
                            img(src='./images/filters/dc84d67e-48d3-41cb-87b0-7933ea5716ff.jpeg', alt='')
                            .filter-name-container
                                span Coins
                        .highlight-container.ng-scope
                            img(src='./images/filters/14402aab-4b7f-4e68-a58e-e2a16292d72a.jpeg', alt='')
                            .filter-name-container
                                span Kernels
                        .highlight-container.ng-scope
                            img(src='./images/filters/defb11e5-8f2d-4959-b42f-dc9b8b17e514.jpeg', alt='')
                            .filter-name-container
                                span Nuts
                        .highlight-container.ng-scope
                            img(src='./images/filters/61237e1b-ed68-4e27-b54b-29b135a5ffbf.jpeg', alt='')
                            .filter-name-container
                                span Amber Fractal
                        .highlight-container.ng-scope
                            img(src='./images/filters/eb0525af-8d78-400e-9047-ad2f310e1712.jpeg', alt='')
                            .filter-name-container
                                span Headcut Portrait
                // Gallery
                h2 Thư Viện
                .my-gallery.row(itemscope itemtype="http://schema.org/ImageGallery")
            // Footer
        // Scripts
        script(src="./js/photoswipe/photoswipe.min.js")
        script(src="./js/photoswipe/photoswipe-ui-default.min.js")
        script(src='./js/jquery/jquery.min.js')
        script(src='./js/materialize/materialize.min.js')
        script(src='./js/main.min.js')

        // Root element of PhotoSwipe. Must have class pswp.
        .pswp(tabindex='-1', role='dialog', aria-hidden='true')
          //
            Background of PhotoSwipe.
            It's a separate element as animating opacity is faster than rgba().
          .pswp__bg
          // Slides wrapper with overflow:hidden.
          .pswp__scroll-wrap
            //
              Container that holds slides.
              PhotoSwipe keeps only 3 of them in the DOM to save memory.
              Don't modify these 3 pswp__item elements, data is added later on.
            .pswp__container
              .pswp__item
              .pswp__item
              .pswp__item
            // Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed.
            .pswp__ui.pswp__ui--hidden
              .pswp__top-bar
                // Controls are self-explanatory. Order can be changed.
                .pswp__counter
                button.pswp__button.pswp__button--close(title='Đóng (Esc)')
                button.pswp__button.pswp__button--share(title='Chia Sẻ')
                button.pswp__button.pswp__button--fs(title='Bật/Tắt Toàn Màn Hình')
                button.pswp__button.pswp__button--zoom(title='Phóng Gần/Xa')
                // Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR
                // element will get class pswp__preloader--active when preloader is running
                .pswp__preloader
                  .pswp__preloader__icn
                    .pswp__preloader__cut
                      .pswp__preloader__donut
              .pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
                .pswp__share-tooltip
              button.pswp__button.pswp__button--arrow--left(title='Trước')
              button.pswp__button.pswp__button--arrow--right(title='Kế')
              .pswp__caption
                .pswp__caption__center
